.hero-banner{
    display:grid;
    grid-template-columns:120px 1fr 120px;

    align-items:center;

    background:#fbbf24;

    border:3px solid #111827;

    padding:25px;

    margin:30px;
}

.hero-banner img{
    width:90px;
}

.hero-text{
    text-align:center;
}

.hero-text h1{
    font-family:"Bangers", cursive;
    font-size:4rem;
}

.card{

    display:grid;

    grid-template-columns:260px 1fr;

    gap:25px;

    background:white;

    border:3px solid #111827;

    margin:30px;

    padding:20px;
}

.three-column{

    grid-template-columns:220px 1fr 220px;
}

.card img{

    width:100%;
}

.card-text h2{

    font-family:"Bangers", cursive;

    margin-bottom:15px;
}

.card-text ul{

    margin-left:25px;

    margin-top:10px;
}

.rating{

    margin-top:25px;

    font-weight:bold;
}

.bottom-banner{

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:#fbbf24;

    border:3px solid #111827;

    margin:30px;

    padding:30px;
}

.button{

    background:#10b981;

    color:#111827;

    padding:15px 25px;

    border-radius:30px;

    text-decoration:none;

    font-weight:bold;
}